<% params %>
<h1>Payment Results</h1>
<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @apr %>
  </dd>
  <dt>
    Number of Years
  </dt>
  <dd>
    <%= @years %>
  </dd>
  <dt>
    Principal
  </dt>
  <dd>
    <%= @pv %>
  </dd>
  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment.to_fs(:currency) %>
  </dd>
</dl>
<br>
<a href="/payment/new">Calculate another payment</a>
